<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="inRiver.Remoting" version="6.3.0.17044" targetFramework="net452" />
  <package id="inRiver.Server" version="6.3.0.17044" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net452" />
</packages>